.actus_wrapper{
    width: 100%;
    box-sizing: border-box;
    background: url("../assets/dégradé.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.actus_wrapper>:nth-child(2){
    width: 100%;
    padding: 0;
    height: 70vh;
}

.actus_wrapper>:nth-child(2) img{
    width: 100%;
    padding: 0;
    height: 100%;
}


.actus_wrapper>.actus_article{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 6rem 0;
}

.actus_wrapper>.actus_article>article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10rem;
}

article>*{
    width: calc(26% - 10px);
    height: 500px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

article>*>img{
    height: 100%;
    width: 100%;
}

article>*>:nth-child(2){
    width: 100%;
    padding: 1rem 0;
    margin: 0 0 1rem 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
article>*>:nth-child(3){
    border: none;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background: var(--green);
    padding: 0.5rem 2rem;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 1.25rem;
    width: 11rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
    cursor: pointer;
}

.actus_wrapper_infos{
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    background: #111111cb;
    padding: 3rem 1rem;
    overflow: scroll;
    z-index: 999;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.actus_wrapper_infos>*{
    padding: 0rem 1rem;
}

.actus_wrapper_infos>:nth-child(1){
    margin-top: 2rem;
}

.actus_wrapper_infos>:nth-child(1)>img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width:450px;
    height: 500px;
    object-fit: cover;
}
.actus_wrapper_infos h2{
    color: #ffffff;
    text-align: center;
    margin: 2rem 0 0 0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.actus_wrapper_infos p{
    width: 70%;
    text-align: justify;
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.actus_wrapper_infos_close{
    position: fixed;
    top: 1.5rem;
    color: #ffffff;
    z-index: 999;
    right: 1rem;
    font-size: 1.5rem;
}
 

@media (min-width : 1400px) {
    .actus_wrapper>.actus_article{
        transform: scale(0.8);
    }
}

@media (max-width: 960px) {
    .actus_wrapper>.actus_article{
        transform: scale(0.9);
    }

    .actus_wrapper>.actus_article>article{
        gap: 5.5rem;
    }
    article>*{
        width: calc(32% - 10px);
    }

    article>*>:nth-child(2){
        font-size: 1.3rem;
    }
}

@media (max-width: 720px) {
    .actus_wrapper>:nth-child(2){
        height: 55vh;
    }
    .actus_wrapper>.actus_article>article{
        gap: 4rem;
    }

    article>*{
        width: calc(40% - 10px);
    }

    article>*>:nth-child(2){
        font-size: 1.15rem;
    }

    .actus_wrapper_infos img{
        transform: scale(0.8);
    }

    article>*>:nth-child(3){
        transform: scale(0.8) translateX(-60%);
    }
}


@media (max-width: 500px) {
    .actus_wrapper>:nth-child(2){
        height: 50vh;
    }

    .actus_wrapper>.actus_article{
        margin: 3rem 0 20rem 0;
    }

    article>*{
        width: calc(100% - 10px);   
        padding: -2rem 0 0 0;
    }

    article>*>:nth-child(2){
        font-size: 1rem;
    }

    .actus_wrapper_infos img{
        transform: scale(0.57);
    }

    .actus_wrapper_infos>:nth-child(1)>img{
        width:250px;
        object-fit: contain;
    }

    .actus_wrapper_infos h2{
        margin: -3rem 0 0 0;
    }
    article>*>img{
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        width: 80%;
        height: 60%;
    }
}

@media (max-width: 360px) {
    article>*>img{
        height: 50%;
    }
}