.tournee_wrapper{
    width: 100%;
    box-sizing: border-box;
    background: url("../assets/dégradé.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.tournee_wrapper>:nth-child(2){
    width: 100%;
    background: #111;
    padding: 1rem 0;
}

.tournee_wrapper>:nth-child(2)>:nth-child(1){
    background: url('../assets/Group\ 3.png');
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    height: 60vh;
    padding: 0 0.5rem;
    z-index: -10;
}

.tournee_wrapper>:nth-child(2)>:nth-child(1)>h3{
    font-size: 30px;
    margin-bottom: -1rem;
}

.tournee_wrapper>:nth-child(2)>:nth-child(1)>p{
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: -0.2rem;
}

.tournee_wrapper>:nth-child(2)>:nth-child(1)>span{
    background: var(--green);
    padding: 0.5rem 2rem;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 1.25rem;
    width: 8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-top: -1rem;
}


@media (min-width: 1400px) {
    .tournee_wrapper>:nth-child(2)>:nth-child(1){
        gap: 2rem;
    }

    .tournee_wrapper>:nth-child(2)>:nth-child(1)>h3{
        transform: scale(1.1);
    }

    .tournee_wrapper>:nth-child(2)>:nth-child(1)>p{
        margin: 0.6rem 0 2rem 0;
    }
}


@media (max-width: 960px) {
    .tournee_wrapper>:nth-child(2)>:nth-child(1){
        gap: 0rem;
    }
    
    .tournee_wrapper>:nth-child(2)>:nth-child(1)>h3{
        margin-bottom: 0.5rem;
    }

    .tournee_wrapper>:nth-child(2)>:nth-child(1)>*{
        transform: scale(0.95);
    }

    .tournee_wrapper>:nth-child(2)>:nth-child(1)>p{
        margin-bottom: 1rem;
    }
}

@media (max-width: 724px) {
    .tournee_wrapper>:nth-child(2)>:nth-child(1){
        height: 40vh;
    }

    .tournee_wrapper>:nth-child(2)>:nth-child(1)>h3{
        margin-bottom: -0.5rem;
        font-size: 26px;
    }

    .tournee_wrapper>:nth-child(2)>:nth-child(1)>*{
        transform: scale(0.7);
    }

    .tournee_wrapper>:nth-child(2)>:nth-child(1)>p{
        font-size: 18px;
        margin-bottom: 0.5rem;
    }
}


@media (max-width: 424px) {
    .tournee_wrapper>:nth-child(2)>:nth-child(1)>h3{
        margin-bottom: -0.5rem;
        font-size: 20px;
    }

    .tournee_wrapper>:nth-child(2)>:nth-child(1)>p{
        font-size: 13px;
    }

    .tournee_wrapper>:nth-child(2)>:nth-child(1){
        height: 30vh;
    }

    .tournee_wrapper>:nth-child(2)>:nth-child(1)>span{
        transform: scale(0.4);
    }
}